  <ion-view view-title="修改密码" hide-nav-bar="isWeiXin">
	<ion-content class="login user_signin password">
		<div class="list">
			<label class="item item-input item-calm">
				<span class="input-label">验证码
					<span class="p_l fr">|</span>
				</span>
				<input type="text" name="" id="" placeholder="输入验证码" ng-model="passwordData.check"/>
			</label>
			<label class="item item-input item-calm"> 
				<span class="input-label">
					<span class="inp_password">新密码</span>
					<span class="p_l fr">|</span>
				</span>
				<input type="password" ng-model="passwordData.password" name="" id="" placeholder="请输入密码" ng-blur="passwordBlur()"/>
			</label>
			<label class="item item-input item-calm"> 
				<span class="input-label">
					<span class="inp_password">确认密码</span>
					<span class="p_l fr">|</span>
				</span>
				<input type="password" ng-model="passwordData.againPassword" name="" id="" placeholder="请再次输入密码" ng-blur="passwordBlur()"/>
			</label>
			<button class="button button-clear signinbtn" ng-click="sendCheckNum()" ng-disabled="passwordData.check_toggle" ng-bind="passwordData.checkNum"></button>
		</div>
		<div class="padding" style="margin-top:20px;">
			<button class="button button-energized button-block" ng-click="submitPw()">确定</button>
		</div>
	</ion-content>
</ion-view>