<ion-view view-title="玩法介绍" hide-nav-bar="isWeiXin">
	<ion-content class="padding play_show">
		<div class="play_show_top">
			<p>胜平负：全场比赛主队的胜平负</p>
			<p>总进球：全场比赛主客两队的总进球数量</p>
			<p>单双：全场比赛主客两队总进球数量为单或双</p>
			<p>下一次进球：获得下次进球的球队</p>
			<p>猜比分：主客两队90分钟比赛时间+含伤停补时时间内最终比分结果</p>
		</div>
		<div style="color: red;">
			注意：所有投注以90分钟比赛时间+伤停补时时间结束为结果，不包含加时赛时间内产生的结果
		</div>
		<div class="play_show_btm">
			<p>投注声明：</p>
			<p>1.投注与兑现提交后20秒内由系统确认是否成功。如确认失败，投注单金豆如数返还、兑现单可继续兑现。确认期间无法对该投注项进行操作</p>
			<p>2.如锁单或比赛数据被认定为无效等情况，官方有权采取一定措施修正，措施包括且不限于：取消投注且退还投注所需的金豆数量（本金）、修正已有投注赔率为真实赔率数据</p>
			<p>注项内所有投注将会全部兑现，待比赛结束后按立即兑现时赔率返还收益，最终收益与立即兑现时系统提示收益有小幅误差</p>
		</div>
	</ion-content>
</ion-view>